<template>

	<section>
		<component v-bind:is="currentPage"  v-if = "!locked"></component>

		<div class="page animated fadeIn" v-else>
			<div class="container one-column" >

				<div class = "text-container locked">
					<h1 class = "underline-me"> 
						{{items.lockedText.title}}
					</h1>

					<div class = "content-text animated fadeIn">
						<p>{{items.lockedText.text}}</p>
					</div>

					<h1 class = "lock"><i class="fa fa-lock locked-icon" aria-hidden="true"></i></h1>
				</div>

			</div>
		</div>

	</section>

</template>

<script>
import bus from '../../eventBus.js';

import { mapGetters, mapMutations, mapActions } from 'vuex';

import page1 from './pages/page1.vue'

export default {
	name: 'OperatorAlley1',
	data() {
		return {
		}
	},
	computed: {
		items() {
			return this.$store.state.items
		},
		currentPage() {
			return this.getCurrentComponent();
		},
		locked() {
			var curentInteraction = '/' + this.getCurrentInteraction();
			return this.$store.getters.sectionLocked(curentInteraction); 
		}
	},
	methods: {
		...mapGetters(['getCurrentComponent','getSiteNav','getCurrentInteraction']),
		...mapActions(['setPages','hideNavForThisSection']),
		getPages() {
			var pages = [
				{component: 'page1', bookMark: false, slideAway: true}
			];
			return pages;
		}
	},
	mounted() {
		// for the nav system
		this.setPages({name: this.$options.name, pages: this.getPages()});

		//this.hideNavForThisSection();
	},
	components: {
		page1
	},
	props: []
};
</script>

<style lang="scss" scoped>
.lock {
	text-align: center;
	font-size: 350px !important;
	opacity: 0.2;
	position: absolute;
	width: 100%;
	top: 100px;
}
.page {
	
	font-family: 'Nexa-Regular';
	background-size: cover;
	background-color: #c1c9b4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-image: url('../../media/bg-03.jpg');

	.container.one-column {
		
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.text-container {
			color: #333;
			width: 80%;
			position: absolute;
			left: 10%;
			top: 136px;
			box-sizing: border-box;
			padding: 10px;
			padding-top: 5px;
			// nexa heading 36
			// nexa book 22

			h1 {
				text-transform: uppercase;
				padding: 0;
				margin: 0;
				width: 100%;
				font-family: 'Nexa-Bold';
				color: #333;
				font-size: 48px;
				&.underline-me {
					border-bottom: 1px solid #333;
				}
			}

			&.locked {
				h1 {
					text-align: center;
				}
				.content-text {
					p {
						text-align: center;
					}	
				}
			}

			.content-text {
				padding-top: 30px;
				column-count: 1;
				p {
					font-size: 22px;
					line-height: 27px;
					margin-top: 0px;
				}	
			}

		}
	}
}
</style>
