html, body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background: $gray-light;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 400;
}

#app {
	position: relative;
	width: $max-width;
	margin: 0 auto;
	//padding-top: $header-height;
	overflow: hidden;
	height: $section-height;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
section {
	position: absolute;
    top: 0px;
	width: $max-width;
	height: $section-height;
}

.fa-spin {
	position: fixed;
	z-index: 1000;
	font-size: 6rem;
	color: $black;
	left: calc(50% - 3rem);
	margin-top: 25%;
}
.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}
.fade-enter, .fade-leave-to {
	opacity: 0
}

/*================================================
							BOILERPLATE
=================================================*/

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 */
::-moz-selection {
		background: #b3d4fc;
		text-shadow: none;
}

::selection {
		background: #b3d4fc;
		text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
		vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
		border: 0;
		margin: 0;
		padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
		resize: vertical;
}


#popup {
	h4 {
		margin: 0px;
		position: relative;
		bottom: 10px;
	}
}

