/*@font-face {
	font-family: '';
	src: url('../fonts/.eot');
	src: url('../fonts/.eot?#iefix') format('embedded-opentype'),
		url('../fonts/.woff') format('woff'),
		url('../fonts/.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: 'Nexa-Book';
    src: url('../fonts/Nexa/Fontfabric - Nexa-Book.otf'), format('opentype');
    font-weight: 400;
	font-style: normal;
}*/
@font-face {
	font-family: 'Nexa-Book';
	src: url('../fonts/Nexa/converted/Nexa-Book.eot');
	src: url('../fonts/Nexa/converted/Nexa-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Nexa/converted/Nexa-Book.woff') format('woff'),
		url('../fonts/Nexa/converted/Nexa-Book.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Nexa-Heavy';
	src: url('../fonts/Nexa/converted/Nexa-Heavy.eot');
	src: url('../fonts/Nexa/converted/Nexa-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Nexa/converted/Nexa-Heavy.woff') format('woff'),
		url('../fonts/Nexa/converted/Nexa-Heavy.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Nexa-Regular';
	src: url('../fonts/Nexa/converted/Nexa-Regular.eot');
	src: url('../fonts/Nexa/converted/Nexa-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Nexa/converted/Nexa-Regular.woff') format('woff'),
		url('../fonts/Nexa/converted/Nexa-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Nexa-Bold';
	src: url('../fonts/Nexa/converted/Nexa-Bold.eot');
	src: url('../fonts/Nexa/converted/Nexa-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Nexa/converted/Nexa-Bold.woff') format('woff'),
		url('../fonts/Nexa/converted/Nexa-Bold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}