<template>
  <div class="page-content" :style="{'background-image': showSubWorld ? 'url(media/backgrounds/'+path.subBackgroundImage+')' : 'url(media/backgrounds/'+path.backgroundImage+')'}">

    <!-- Intro Modal -->
    <div class="intro-modal-holder animated fadeIn" v-if="showIntroModal">
      <div class="modal-overlay"></div>
      <div class="intro-modal">
        <p v-html="path.introModalText"></p>
        <button @click="closeIntroModal()">{{items.globalText.continue}}</button>
      </div>
    </div>

    <!-- Consumer Section -->
    <div class="consumer-holder" v-if="activeConsumerIndex!==null">
      <img class="consumer-image" :src="'media/interactions/consumer-'+(activeConsumerIndex+1)+'_'+consumerState+'.png'"/>
      <img class="consumer-bubble" src="media/interactions/consumer-bubble.png"/>
      <div class="consumer-text-holder">
        <p class="consumer-text" v-html="feedbackText===null ? activeConsumerPath.initialText : feedbackText"></p>
      </div>
    </div>

    <!-- MAIN WORLD -->
    <div class="main-world" v-if="!showSubWorld">
      <!-- Clickable SVG Overlays -->
      <div class="main-svg-overlays" v-for="(value, key) in path.operatorSegments" v-if="!showIntroModal">
        <svg @click="selectOperatorSegment(key)" :id="key" v-if="value.svg!==null"
             :width="value.svg.width+'px'" :height="value.svg.height+'px'">
          <path :d="value.svg.pathd" :class="{selected: key === selectedOperatorSegment}"/>
        </svg>
      </div>
      <!-- Operator Segment Title Section -->
      <div class="segment-title-holder" :id="selectedOperatorSegment">
        <img class="segment-callout" src="media/interactions/operator-label.png" v-if="selectedOperatorSegment!==null"/>
        <p class="segment-title" v-html="activeOperatorSegmentPath.shortName" v-if="selectedOperatorSegment!==null"></p>
      </div>
      <!-- Main Select Button -->
      <button class="main-select-button" @click="openSubWorld(selectedOperatorSegment)" v-if="selectedOperatorSegment!==null">{{items.globalText.select}}</button>
    </div>

    <!-- SUB WORLD -->
    <div class="sub-world" v-if="showSubWorld">
      <!-- Operator Title Section -->
      <div class="operator-title-holder" v-for="(value, key) in activeOperatorSegmentPath.subs" :id="key">
        <img class="operator-callout" src="media/interactions/operator-label.png"/>
        <p class="operator-title" v-html="value.shortName"></p>
      </div>
      <!-- Clickable SVG Overlays -->
      <div class="sub-svg-overlays" v-for="(value, key) in activeOperatorSegmentPath.subs">
        <svg @click="selectOperator(key)" :id="key" v-if="value.svg!==null"
             :width="value.svg.width+'px'" :height="value.svg.height+'px'">
          <path :d="value.svg.pathd"/>
        </svg>
      </div>
      <!-- Information Reveal Box -->
      <div class="info-reveal-box">
        <p class="segment-info" v-if="selectedOperator===null" v-html="activeOperatorSegmentPath.info"></p>
        <p class="operator-info" v-else v-html="activeOperatorPath.info"></p>
        <button class="submit-answer-button" @click="submitAnswer(selectedOperator)"
          v-show="selectedOperator!==null">{{items.globalText.select}}</button>
      </div>
      <!-- Local Nav -->
      <!--button class="nav leftnav" @click="backToMain()" :class="{disabled: !leftnav}">
        <i class="fas fa-angle-left"></i>
      </button>
      <button class="nav rightnav" @click="nextConsumer()" :class="{disabled: !rightnav}">
        <i class="fas fa-angle-right"></i>
      </button-->
    </div>




  </div>
</template>


<script>
export default {
  data() {
    return {
      showIntroModal: false,
      showSubWorld: false,

      activeConsumerIndex: 3,
      selectedOperatorSegment: null,
      selectedOperator: null,

      feedbackText: null,
      consumerState: 0,

      consumerCompletion: [
        false, false, false, false, false,
        false, false, false, false, false,
        false, false, false
      ],

      leftnav: true,
      rightnav: false
    };
  },
  computed: {
    items() {
      return this.$store.state.items
    },
    config() {
      return this.$store.state.config
    },
    scormState() {
      return this.$store.state.scormLMS
    },
    path() {
      return this.$store.state.items.section1.page1
    },
    activeConsumerPath() {
      return this.path.consumers[this.activeConsumerIndex]
    },
    activeOperatorSegmentPath() {
      return this.path.operatorSegments[this.selectedOperatorSegment]
    },
    activeOperatorPath() {
      return this.activeOperatorSegmentPath.subs[this.selectedOperator]
    }
  },
  methods: {
    closeIntroModal() {
      this.showIntroModal = false;
      this.activeConsumerIndex = 3;
    },
    selectOperatorSegment(selection) {
      this.selectedOperatorSegment = selection;
    },
    openSubWorld(subWorld) {
      this.showSubWorld = true;
    },
    selectOperator(selection) {
      this.selectedOperator = selection;
      if(this.feedbackText!==null) {
        this.feedbackText = null;
      }
    },
    submitAnswer(answer) {
      if(this.activeConsumerPath.feedback.hasOwnProperty(answer)) {
        this.feedbackText = this.activeConsumerPath.feedback[answer];
      } else {
        this.feedbackText = this.activeConsumerPath.feedback.other;
      }
      if(answer === this.activeConsumerPath.correctAnswer) {
        this.consumerCompletion[this.activeConsumerIndex] = true;
        this.rightnav = true;
      }
    },
    backToMain() {
    this.reset();
    },
    nextConsumer() {
      this.activeConsumerIndex = 9;
      this.navright = false;
      this.reset();
    },
    reset() {
      this.showSubWorld = false;
      this.selectedOperatorSegment = null;
      this.selectedOperator = null;
      this.feedbackText = null;
      this.consumerState = 0;
    }
  },
  mounted() {
  },
  beforeDestroy() {

  },
  components: {},
  props: []
};
</script>


<style scoped lang="scss">
// Global SVG Styling
svg {
  pointer-events: none;
  path {
    pointer-events: all;
    stroke: none;
    fill: none;
    &:hover {
      // fill: rgba(256, 256, 256, .20);
    }
  }
}
.page-content {
  height: 100%;
  width: 100%;
  background-size: contain;
  .intro-modal-holder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 900;
    transition-duration: 0.2s;
    .modal-overlay {
      width: inherit;
      height: inherit;
      background-color: #222;
      opacity: .65;
    }
    .intro-modal {
      position: absolute;
      top: 235px;
      width: 50%;
      margin-left: 25%;
      height: 275px;
      background-color: white;
      border-radius: 25px;
      -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
      -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
      box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
      p {
        margin: 30px;
      }
      button {
        position: absolute;
        right: 15px;
        bottom: 15px;
        border: none;
        color: white;
        height: 33px;
        width: 120px;
        border-radius: 40px;
        padding: 5px;
        font-size: 18px;
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        font-family: $nexa-bold;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.2s;
        background-color: $course-orange;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.35);
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.35);
      }
    }
  }
  .consumer-holder {
    position: absolute;
    top: 0;
    left: 0;
    .consumer-image {
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .consumer-bubble {
      position: absolute;
      top: 25px;
      left: 185px;
    }
    .consumer-text-holder {
      position: absolute;
      top: 30px;
      left: 240px;
      width: 510px;
      height: 170px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .consumer-text {
        margin: auto 20px;
      }
    }
  }
  .main-world {
    position: relative;
    width: 100%;
    height: 100%;
    .main-svg-overlays {
      svg {
        position: absolute;
        cursor: pointer;
        &#QSR {
          top: 333px;
          left: 57px;
        }
      }
    }
    .segment-title-holder {
      position: relative;
      width: 194px;
      pointer-events: none;
      .segment-callout {
        position: absolute;
      }
      .segment-title {
        position: absolute;
        top: 4px;
        margin: 0;
        width: 100%;
        text-align: center;
        color: $course-orange;
        cursor: default;
        font-family: $nexa-bold;
      }
      &#QSR {
        top: 345px;
        left: 90px;
      }
    }
    .main-select-button {
      position: absolute;
      bottom: 112px;
      right: 684px;
      height: 45px;
      width: 170px;
      border: none;
      border-radius: 40px;
      background-color: $course-orange;
      padding: 5px;
      font-family: $nexa-bold;
      color: white;
      font-size: 28px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.35);
      -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.35);
      box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.35);
    }
  }
  .sub-world {
    position: relative;
    width: 100%;
    height: 100%;
    .operator-title-holder {
      position: relative;
      width: 194px;
      pointer-events: none;
      .operator-callout {
        position: absolute;
      }
      .operator-title {
        position: absolute;
        top: 4px;
        margin: 0;
        width: 100%;
        text-align: center;
        color: $course-orange;
        cursor: default;
        font-family: $nexa-bold;
      }
      &#QSR-FC {
        top: 253px;
        left: 494px;
      }
      &#QSR-FF {
        top: 388px;
        left: 720px;
      }
    }
    .sub-svg-overlays {
      svg {
        position: absolute;
        cursor: pointer;
        &#QSR-FC {
          top: 253px;
          left: 322px;
        }
        &#QSR-FF {
          top: 388px;
          left: 544px;
        }
      }
    }
    .info-reveal-box {
      position: absolute;
      top: 235px;
      left: 60px;
      width: 350px;
      height: 475px;
      background-color: white;
      border-radius: 25px;
      -webkit-box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.55);
      -moz-box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.55);
      box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.55);
      p {
        margin: 20px;
        &.segment-info {
          line-height: 24px;
        }
        &.operator-info {
          line-height: 22px;
          font-size: 18px;
        }
      }
      .submit-answer-button {
        position: absolute;
        bottom: -20px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        height: 45px;
        width: 170px;
        border: none;
        border-radius: 40px;
        background-color: $course-orange;
        padding: 5px;
        font-family: $nexa-bold;
        color: white;
        font-size: 28px;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.35);
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.35);
      }
    }
    .nav {
    	position: absolute;
    	background: #e36f1e;
    	border-radius: 50%;
    	height: 100px;
    	font-size: 1.7rem;
    	margin: 0;
    	z-index: 9999;
    	color: white;
    	width: 50px;
    	font-size: 42px;
    	&.leftnav {
    		top: 45%;
    		left: 0px;
    		border-radius: 0px 20px 20px 0px;
    		i {
    			position: relative;
    			right: 5px;
    		}
    	}
    	&.rightnav {
    		top: 45%;
    		right: 0px;
    		border-radius: 20px 0px 0px 20px;
    		i {
    			position: relative;
    			left: 5px;
    		}
    	}
      &.disabled {
      	opacity: 0.5;
      	pointer-events: none;
      	cursor: default;
      }
    }
  }
}
</style>
