<template>
	<section id="first">

		<!--Page1 v-show="location === 1"></Page1-->
		<!-- Component changes when currentTabComponent changes -->
		<component v-bind:is="currentPage"></component>

	</section>
</template>

<script>
import bus from '../../eventBus.js';

import { mapGetters, mapMutations, mapActions } from 'vuex';

import intro from './pages/intro.vue'
import questions from './pages/questions.vue'
import conclusion from './pages/conclusion.vue'

	export default {
		name: 'knowledgeCheck',
		data() {
			return {

			}
		},
		computed: {
			location () {
				return this.$store.state.scormLMS.location
			},
			currentPage() {
				return this.getCurrentComponent();
			}
		},
		methods: {
			...mapGetters(['getCurrentComponent','getSiteNav']),
			...mapMutations(['setScormVersion']),
			...mapActions(['setPages','hideNavForThisSection']),
			getPages() {
				// let's register the pages with navigation and bookmarking and whatnot
				// setup the pages, and pass the name because.. I can't think of a better way haha

				var pages = [
					{component: 'intro', bookMark: false},
					{component: 'questions', bookMark: false},
					{component: 'conclusion', bookMark: false}
				];
				return pages;
			}
		},
		mounted() {

			// let's register the pages with navigation and bookmarking and whatnot
			// setup the pages, and pass the name because.. I can't think of a better way haha

			this.setPages({name: this.$options.name, pages: this.getPages()});

			bus.$emit('showHeader');

			//this.hideNavForThisSection();
		},
		components: {
			intro, questions, conclusion
		},
		props: []
	};
</script>

<style lang="scss" scoped>

</style>
