<template>
	<div class="page animated fadeIn">

		<div class="container one-column">

			<div class = "text-container">

				<h1 class = "underline-me"> 
					{{items.interactionA.oneCol.title}}
				</h1>

				<div class = "content-text animated fadeIn">

					<p>{{items.interactionA.oneCol.text}}</p>

				</div>

			</div>

		</div>

	</div>
</template>

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
	data() {
		return {
		};
	},

	computed: {
		items() {
			return this.$store.state.items
		}
	},

	methods: {
		...mapActions(['sectionallyOverrideRight','sectionallyOverrideLeft','goToNextSection','disableNavPrev','enableNavPrev'])
	},
	mounted() {

		let self = this;
		setTimeout(() => {
			self.showPerson = true;
			setTimeout( function() {
				self.showSpeech = true;
			}, 750);
		}, 250);

	},
	beforeDestroy() {
		//BOILERPLATE FOR RUNNING AN INTERVAL
		clearInterval(this.interval);
	},
	components: {},
	props: []
};
</script>

<style lang="scss" scoped>
.lock {
	text-align: center;
	font-size: 400px !important;
	opacity: 0.2;
	position: absolute;
	width: 100%;
	top: 100px;
}
.page {
	
	font-family: 'Nexa-Regular';
	background-size: cover;
	background-color: #c1c9b4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-image: url('../../../media/bg-03.jpg');

	.container.one-column {
		
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.text-container {
			color: #333;
			width: 80%;
			position: absolute;
			left: 10%;
			top: 136px;
			box-sizeing: border-box;
			padding: 10px;
			padding-top: 5px;
			// nexa heading 36
			// nexa book 22

			h1 {
				text-transform: uppercase;
				padding: 0;
				margin: 0;
				width: 100%;
				font-family: 'Nexa-Bold';
				color: #333;
				font-size: 48px;
				&.underline-me {
					border-bottom: 1px solid #333;
				}
			}


			.content-text {
				padding-top: 30px;
				column-count: 1;
				p {
					font-size: 22px;
					line-height: 27px;
					margin-top: 0px;
				}	
			}

		}
	}
}
.delay-0 {
	animation-delay: 0.33s;
}
</style>
