<template>
  <div class="page animated fadeIn">

    <div class="container two-column">

      <div class = "text-container">

        <h1 class = "underline-me"> 
          {{items.interactionA.twoCol.title}}
        </h1>

        <div class = "content-text animated fadeIn">

          <p>{{items.interactionA.twoCol.text1}}</p>
          <p>{{items.interactionA.twoCol.text2}}</p>
          <p>{{items.interactionA.twoCol.text3}}</p>

        </div>

      </div>

    </div>

  </div>
</template>

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
  data() {
    return {
    };
  },

  computed: {
    items() {
      return this.$store.state.items
    }
  },

  methods: {
  ...mapActions(['sectionallyOverrideRight','sectionallyOverrideLeft','goToNextSection','disableNavPrev','enableNavPrev','enableNavNext'])
  },
  mounted() {

  },
  components: {},
  props: []
};
</script>

<style lang="scss" scoped>

.page {
  
  font-family: 'Nexa-Regular';
  background-size: cover;
  background-color: #c1c9b4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('../../../media/bg-03.jpg');

  .container.two-column {
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .text-container {
      color: #333;
      width: 80%;
      position: absolute;
      left: 10%;
      top: 136px;
      box-sizing: border-box;
      padding: 10px;
      padding-top: 5px;
      // nexa heading 36
      // nexa book 22


      h1 {
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        width: 100%;
        //transition: border 0.3s;
        font-family: 'Nexa-Bold';
        color: #333;
        font-size: 48px;
        &.underline-me {
          border-bottom: 1px solid #333;
        }
      }

      .content-text {
        padding-top: 30px;
        column-count: 2;
        max-height: 410px; // hmm oddly enough my alpha didn't need this rule.. not sure why I need it here
        p {
          font-size: 22px;
          line-height: 27px;
          margin-top: 0px;
        } 
      }

    }
  }
}
.delay-0 {
  animation-delay: 0.33s;
}
</style>
