<template>
	<section id="first">

		<!--Page1 v-show="location === 1"></Page1-->
		<!-- Component changes when currentTabComponent changes -->
		<component v-bind:is="currentPage"></component>

	</section>
</template>

<script>
import bus from '../../eventBus.js';

import { mapGetters, mapMutations, mapActions } from 'vuex';

import audioPrompt from './pages/audioPrompt.vue'

	export default {
		name: 'first',
		data() {
			return {

			}
		},
		computed: {
			location () {
				return this.$store.state.scormLMS.location
			},
			currentPage() {
				return this.getCurrentComponent();
			}
		},
		methods: {
			...mapGetters(['getCurrentComponent','getSiteNav']),
			...mapMutations(['setScormVersion']),
			...mapActions(['setPages','hideNavForThisSection']),
			getPages() {
				var pages = [
					{component: 'audioPrompt', bookMark: false}, 
					//{component: 'Page2', bookMark: false}
				];
				return pages;
			}
		},
		mounted() {

			// for the nav system
			this.setPages({name: this.$options.name, pages: this.getPages()});

			bus.$emit('showHeader');

			this.hideNavForThisSection();
		},
		components: {
			audioPrompt
		},
		props: []
	}
</script>

<style lang="scss" scoped>

</style>
