<template>
	<div class="page animated fadeIn">
	<div class="container">
		<h1 class = "animated fadeIn score"
			:class = "{
				'green' : correctNum == 10,
				'blue' : ((correctNum >= 6) && (correctNum < 10)),
				'red' : correctNum < 6
			}"
		>{{correctNum}}/10</h1>
		<h1 class = "animated fadeIn">{{endingText}}</h1>
		<h1 class = "animated fadeIn selectNext">{{items.knowlegeCheck.selectNext}}</h1>

		<img src = "media/guy.png" class = "animated fadeIn" v-if = "correctNum >= 6"/>
		<img src = "media/img-Char-Male-Worried.png" class = "animated fadeIn worridGuy" v-if = "correctNum < 6" />
	</div>
	</div>
</template>

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
	data() {
		return {
		};
	},

	computed: {
		location() {
			return this.$store.state.scormLMS.location
		},
		items() {
			return this.$store.state.items
		},
		data() {
			return this.$store.state.items
		},
		correctNum() {
			return this.$store.state.numCorrect;
		},
		endingText() {
			if (this.correctNum == 10) {
				return this.$store.state.items.knowlegeCheck.perfectFeedback;
			} else if (this.correctNum >= 6) {
				return this.$store.state.items.knowlegeCheck.goodFeedback;
			} else {
				return this.$store.state.items.knowlegeCheck.poorFeedback;
			}
		}
	},

	methods: {
		...mapActions(['enableNavPrev']),
	checkCue() {
		//BOILERPLATE FOR RUNNING AN INTERVAL
		// var self = this
		// if(Math.floor(self.$refs.audio1.currentTime) == 3){
		//   self.vis1 = "visible"
		// }
	},
	runInterval() {
		//BOILERPLATE FOR RUNNING AN INTERVAL
		this.interval = setInterval(this.checkCue, 100);
	}
	},
	mounted() {
		this.enableNavPrev();

	},
	beforeDestroy() {
	//BOILERPLATE FOR RUNNING AN INTERVAL
	clearInterval(this.interval);
	},
	components: {},
	props: []
};
</script>

<style lang="scss" scoped>
.page {
	background-image: url('../../../media/bkgrnd.jpg');
	font-family: 'Nexa-Book';
	background-size: cover;
	background-color: #c1c9b4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	h1 {
		font-family: 'Nexa-Bold';
		position: absolute;
		width: 420px;
		right: 130px;
		top: 300px;
		font-size: 22px;
		&.selectNext {
			font-style: italic;
			top: 460px;
		}
		&.score {
			font-family: sans-serif;
			text-align: center;
			top: 90px;
			font-size: 96px;
			right: 152px;
			&.green {
				color: #4f6f18;
			}
			&.blue {
				color: #004962;
			}
			&.red {
				color: #9d0b0e;
			}
		}
	}
	img {
		position: absolute;
		bottom: 0px;
		left: 150px;
		width: 310px;
		&.worridGuy {
			width: 484px;
		}
	}
	.enter-button {
		position: absolute;
		width: 130px;
		right: 250px;
		top: 416px;
		font-family: 'Nexa-Bold';
		font-size: 24px;
		color: white;
		background: #e46f1f;
		display: flex;
		border-radius: 15px;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}
</style>
