<template>
	<div class="page animated fadeIn foodServiceintro">

		<div class="container one-column" v-if = "!locked">

			<div class = "text-container">

				<h1 class = "underline-me"> 
					{{items.knowlegeCheck.header}}
				</h1>

				<div class = "content-text animated fadeIn">

					<p>{{items.knowlegeCheck.text}}</p>

				</div>

			</div>

		</div>


		<div class="container one-column" v-else >

			<div class = "text-container locked">
				<h1 class = "underline-me"> 
					tHIS PAGE IS LOCKED
				</h1>

				<div class = "content-text animated fadeIn">
					<p>Please complete all the other sections in order to unlock this section</p>
				</div>

				<h1 class = "lock"><i class="fa fa-lock locked-icon" aria-hidden="true"></i></h1>
			</div>

		</div>


	</div>
</template>

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
	data() {
		return {
		};
	},

	computed: {
		location() {
			return this.$store.state.scormLMS.location
		},
		items() {
			return this.$store.state.items
		},
		locked() {
			return this.$store.getters.sectionLocked('/knowledgecheck'); // okay I know this is hacky
		}
	},

	methods: {
	...mapActions(['sectionallyOverrideRight','sectionallyOverrideLeft','goToNextSection','disableNavPrev','enableNavPrev','enableNavNext','disableNavNext']),
		checkCue() {
			//BOILERPLATE FOR RUNNING AN INTERVAL
			// var self = this
			// if(Math.floor(self.$refs.audio1.currentTime) == 3){
			//   self.vis1 = "visible"
			// }
		},
		runInterval() {
			//BOILERPLATE FOR RUNNING AN INTERVAL
			this.interval = setInterval(this.checkCue, 100);
		}
	},
	mounted() {

		// let's disable prev since this is techincally the first page 
		//this.disableNavPrev();

		let self = this;
		setTimeout(() => {
			self.showPerson = true;
			setTimeout( function() {
				self.showSpeech = true;
			}, 750);
		}, 250);


		if (this.locked) {
			self.disableNavNext();
		} else {
			self.enableNavNext();
		}

	},
	beforeDestroy() {
		//BOILERPLATE FOR RUNNING AN INTERVAL
		clearInterval(this.interval);
	},
	components: {},
	props: []
};
</script>

<style lang="scss" scoped>
.lock {
	text-align: center;
	font-size: 350px !important;
	opacity: 0.2;
	position: absolute;
	width: 100%;
	top: 100px;
}
.page {
	
	font-family: 'Nexa-Regular';
	background-size: cover;
	background-color: #c1c9b4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-image: url('../../../media/bg-03.jpg');

	.container.one-column {
		
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.text-container {
			color: #333;
			width: 80%;
			position: absolute;
			left: 10%;
			top: 136px;
			box-sizing: border-box;
			padding: 10px;
			padding-top: 5px;
			// nexa heading 36
			// nexa book 22

			h1 {
				text-transform: uppercase;
				padding: 0;
				margin: 0;
				width: 100%;
				font-family: 'Nexa-Bold';
				color: #333;
				font-size: 48px;
				&.underline-me {
					border-bottom: 1px solid #333;
				}
			}

			&.locked {
				h1 {
					text-align: center;
				}
				.content-text {
					p {
						text-align: center;
					}	
				}
			}

			.content-text {
				padding-top: 30px;
				column-count: 1;
				p {
					font-size: 22px;
					line-height: 27px;
					margin-top: 0px;
				}	
			}

		}
	}
}
.delay-0 {
	animation-delay: 0.33s;
}
.delay-1 {
	animation-delay: 0.66s;
}
.delay-2 {
	animation-delay: 1s;
}
.delay-3 {
	animation-delay: 1.33s;
}
.delay-4 {
	animation-delay: 1.66s;
}
.delay-5 {
	animation-delay: 2s;
}
.delay-6 {
	animation-delay: 2.33s;
}
.delay-7 {
	animation-delay: 2.66s;
}
</style>
