<template>
  <div class="quizpage animated fadeIn">
	<div class="container">

		<transition enter-active-class = "animated fadeIn" mode = "out-in">
			<div
				v-for = "(question,n) in items.knowlegeCheck.questions"
				v-if = "questionNum == n"
				:key = "n"
			>
				<div id = "questionTop">
					<h1 
						id = "questionNum"
					>
						{{n+ 1}}
					</h1>
					<h4 
						id = "questionText"
						:class = "{
							'long-text' : (question.text.length > 60)
						}"
					>
						{{question.text}}
					</h4>
				</div>

				<div id = "choice-container">
					<div 
						class = "question-choice"

						v-for = "(choice,i) in question.choices"
						:class = "{
							'unAnswered' : (!questionAnswered && !choiceChosen[i]),
							'correct' : correct[i],
							'incorrect' : incorrect[i],
							'selectd' : (!questionAnswered && choiceChosen[i])
						}"

						@click = "choose(i)"
					>
						<p>{{choice}}</p>
						<i class="fa fa-check" aria-hidden="true" v-show = "correct[i]"></i>
						<i class="fa fa-times" aria-hidden="true" v-show = "incorrect[i]"></i>
					</div>
				</div>
			</div>
		</transition>
		
	  
	</div>
  </div>
</template>

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
  data() {
	return {
	  questionAnswered: false,
	  choiceChosen: [false,false,false,false],
	  correct: [false,false,false,false], // ok I'm too tired to do this not brute force
	  incorrect: [false,false,false,false],	  
	  answersChosen: [],
	  questionData: [] // gets submitted on the last quesiton
	};
  },

  computed: {
	location() {
	  return this.$store.state.scormLMS.location
	},
	items() {
	  return this.$store.state.items
	},
	questionNum() {
		return this.$store.state.questionNum;
	}
  },

  methods: {
	...mapActions(['disableNavPrev','disableNavNext','enableNavNext','overridePageRight','unPageOverrideRight','goToNext','recordQuestion','setScore','setCompletion','setStatus']),
	choose(num) {
		if (!this.choiceChosen[num]) {
			this.choiceChosen[num] = true;
			this.answersChosen.push(num);


			if (this.answersChosen.length == this.items.knowlegeCheck.questions[this.questionNum].correctAnswer.length) {
				this.questionAnswered = true;

				var correctAnswers = this.items.knowlegeCheck.questions[this.questionNum].correctAnswer;

				// ok. lopo through choicesChosen
				for(var x in this.choiceChosen) {
					if (this.choiceChosen[x]) {
						// ok so this one has been chosen. If x is in correctAnswers, assign correct[x] to true
						// else assign incorrect answer to x
						

						if (correctAnswers.indexOf(parseInt(x)) != -1) {

							this.correct[x] = true;
						} else {
							this.incorrect[x] = true;
						}
					}	
				}

				//if (this.answersChosen.sort())

				this.answersChosen.sort()
				correctAnswers.sort()

				var correct = true;

				if (this.answersChosen.length == correctAnswers.length) {
					for (var x = 0; x < this.answersChosen.length; x++) {
						if (this.answersChosen[x] != correctAnswers[x]) {
							correct = false;
						}
					}
				} else {
					correct = false;
				}

				if (correct) {
					this.$store.commit('correct', this.questionNum);
				} else {
					// don't do anyting
				}

				// alright now to record the questions

				// data.num = 'first n'
				// data.question
				// data.type = "choice"
				// data.choices[0], data.choices[1], etc.. become cmi.interactions.n.objectives.n.id (plus correct/incorrect)
				// data.result = "correct"

				var data = {};
				data.num = this.questionNum;
				data.question = this.items.knowlegeCheck.questions[this.questionNum].text;
				data.type = "choice"
				data.choices = [];
				//data.response = 
				var responseStr = '';
				for (var x in this.answersChosen) {
					var i = this.answersChosen[x];
					if (x == 0) {
						responseStr = this.items.knowlegeCheck.questions[this.questionNum].choices[i];
					} else if (x > 0) {
						responseStr = responseStr + ' && ' + this.items.knowlegeCheck.questions[this.questionNum].choices[i];
					}
				}
				data.response = responseStr;

				for (var x in this.items.knowlegeCheck.questions[this.questionNum].choices) {
					var str = " (incorrect)";
					if (this.items.knowlegeCheck.questions[this.questionNum].correctAnswer.indexOf(parseInt(x)) != -1) {
						str = " (correct)";
					}
					data.choices.push(this.items.knowlegeCheck.questions[this.questionNum].choices[x] + str);
				}

				if (correct) {
					data.result = "correct";
				} else {
					data.result = "incorrect";
				}

				this.questionData.push(data);

				if (this.questionNum >= 9) {
					for (var x in this.questionData) {
						//console.log(this.questionData(x));
						this.recordQuestion(this.questionData[x]); // sends questiondata to the lms
					}

					var numCorrect = this.$store.state.numCorrect;
						console.log('NUMCORRECT IS ');
						console.log(numCorrect);
						this.setScore((numCorrect*10));

						this.setCompletion("completed"); // cmi.completion_status

						// this.setStatus(); // cmi.success_status 
						if (numCorrect >= 6) {
							this.setStatus("passed");
						} else {
							this.setStatus("failed");
						}
				}
				

				this.enableNavNext();
			}

			this.$forceUpdate();
		}
	},
	resetQuestion() {
	  this.questionAnswered  = false;
	  this.choiceChosen  = [false,false,false,false];
	  this.correct  = [false,false,false,false];
	  this.incorrect = [false,false,false,false];
	  this.answersChosen = [];
	  this.$forceUpdate();
	  this.disableNavNext();
	},
	checkCue() {
		//BOILERPLATE FOR RUNNING AN INTERVAL
		// var self = this
		// if(Math.floor(self.$refs.audio1.currentTime) == 3){
		//   self.vis1 = "visible"
		// }
	},
	runInterval() {
	  //BOILERPLATE FOR RUNNING AN INTERVAL
	  this.interval = setInterval(this.checkCue, 100);
	}
  },
  mounted() {
	let self = this;

	this.disableNavPrev();

	this.disableNavNext();


	this.overridePageRight(function() {
		self.$store.commit('incrementQuestionNum');
		if (self.questionNum > 9) {
			self.goToNext();
		} else {
			self.resetQuestion();
		}
	});

  },
  beforeDestroy() {
	//BOILERPLATE FOR RUNNING AN INTERVAL
	clearInterval(this.interval);
  },
  components: {},
  props: []
};
</script>

<style lang="scss" scoped>
#questionTop {
	width: 70%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	position: relative;
	right: 20px;
	h1 {
		width: 22%;
		text-align: center;
		float: left;
		font-size: 84px;
		font-family: 'Nexa-Bold';
		font-style: italic;
		color: #516f15;
	}
	h4 {
		float: left;
		display: inline-block;
		width: 80%;
		font-size: 21px;
		&.long-text {
			width: 85%;
			font-size: 20px;
			line-height: 22px;
		}
	}
}
#choice-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	.question-choice {
		width: 300px;
		height: 90px;
		display: flex;
		align-items: center;
		//justify-content: center;
		border-radius: 15px;
		border: 2px solid #e46f1f;
		margin-right: 15px;
		margin-bottom: 15px;
		transition: 0.3s all;
		position: relative;
		p {
			font-weight: bold;
			color: #e46f1f;
			font-size: 19px;
			padding-left: 30px;
			transition: 0.3s all;
			width: 65%;
		}
		&.unAnswered {
			cursor: pointer;
			&:hover {
				background:  #e46f1f;
				p {
					color: white;
				}
			}
		}
		&.selectd {
			background:  #e46f1f;
			p {
				color: white;
			}
		}
		&.correct {
			background: #4f6f18;
			border: 2px solid #4f6f18;
			p {
				color: white;
			}
		}
		&.incorrect {
			background: #9d0b0e;
			border: 2px solid #9d0b0e;
			p {
				color: white;
			}
		}
		i {
			font-size: 42px;
			color: white;
			position: absolute;
			right: 30px;
		}
	}
}
.quizpage {
  background-image: url('../../../media/bkgrnd.jpg');
  font-family: 'Nexa-Book';
  background-size: cover;
  background-color: #c1c9b4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .container {
	padding-top: 63px;
	width: 70%;
	margin: auto;
	height: 768px;
	box-sizing: border-box;
  }
}
</style>
