.corner-modal {
  width: 655px;
  background: white;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.8);
  position: relative;
  padding-top: 25px;
  padding-right: 30px;
  position: absolute;
  left: 73px;
  top: 10px;
  h2 {
      font-family: 'Nexa-Bold', sans-serif;
      margin-top: 3px;
      margin-bottom: 15px;
  }
  p {
    font-family: 'Nexa-Regular', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .select-next {
    font-style: italic;
  }
}


.top-modal {
  width: 80%;
  background: white;
  padding: 20px 50px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.8);
  position: relative;
  padding-top: 20px;
  padding-right: 30px;
  position: absolute;
  left: 7.6%;
    top: 112px;
    .text-container {
      //width: 76%;
      float: left;
      p {
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 19px;
      }
    }
    .number-container {
      width: 30%;
      float: left;
    }
    h2 {
      margin-bottom: 0px;
      margin-top: 3px;
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.35+0,0.6+50,0.8+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  display: flex;
  align-items: center;
  justify-content: center;
  .modal-inner {
    width: 620px;
    background: white;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.8);
    position: relative;
        box-sizing: border-box;
    p {
      font-family: 'Nexa-Regular', sans-serif;
      font-size: 20px;
    }
    .text-container {
      &.has-button {
        margin-bottom: 65px;
      }
    }
    .select-next {
      font-style: italic;
    }
    .continue-button {
      width: 150px;
      height: 30px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppsercase;
      border: 1px solid #e36f1e;
      color: #e36f1e;
      position: absolute;
      right: 40px;
      bottom: 30px;
      transition: 0.3s all;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
      p {
        text-transform: uppercase;
        margin: 0;
        font-family: 'Nexa-Regular', sans-serif;
      }
      &:hover {
        cursor: pointer;
        background: #e36f1e;
        color: white;
      }
    }
  }

  &.big-modal {
    .modal-inner {
      h1 {
        padding-top: 0px;
        margin-top: 5px;
        margin-bottom: -5px;
      }
      ol {
        li {
          font-family: 'Nexa-Regular', sans-serif;
          font-size: 20px;
          strong {
            font-size: 21px;
          }
        }
      }
    }
  }

}

/* moved into base.scss for now */
.small-modal-inner {
    width: 540px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.8);
    position: relative;
    padding-top: 20px;
    padding-right: 30px;
    position: absolute;
    right: 60px;
    top: 376px;
    h2 {
      margin: 0px;
      padding: 0px;
      margin-bottom: 15px;
    }
    p {
      font-family: 'Nexa-Regular', sans-serif;
      font-size: 20px;
      margin-bottom: 5px;
    }
    .text-container {
      &.has-button {
        margin-bottom: 50px;
      }
    }
    .select-next {
      font-style: italic;
    }
    .continue-button {
      width: 150px;
      height: 30px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppsercase;
      border: 1px solid #e36f1e;
      color: #e36f1e;
      position: absolute;
      right: 20px;
      bottom: 20px;
      transition: 0.3s all;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
      p {
        text-transform: uppercase;
        margin: 0;
        font-family: 'Nexa-Regular', sans-serif;
      }
      &:hover {
        cursor: pointer;
        background: #e36f1e;
        color: white;
      }
    }
}

.close-button {
  background: #e36f1e;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  color: white;
  font-weight: bold;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  p {
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
  }
}
