.container {
	&.static-text-left {
		p {
			font-size: 22px;
		}
	}
}

.page.foodServiceintro {
	 .container.static-text-left .text-container .content-text p {
	 	line-height: 26px;
	 }

}

.two-column {
	.content-text {
		p {
			margin-top: 0px;
			font-size: 22px;
			font-family: 'Nexa-Regular', sans-serif;
		}
	}
}