<template>
	<div class="page animated fadeIn">

		<div class="container one-column">

			<transition enter-active-class = "animated fadeIn" leave-active-class = "animated fadeOut">
				<div class="glossary-container" v-show = "activateGlossary">

					<transition enter-active-class = "animated fadeInDown delay-0" leave-active-class = "animated fadeOutUp">

						<div class="glossary-inner" v-show = "activateGlossary" :class = "{'slideAway' : slideAway}">
							<div class = "glossary-section glossary-left">
								<h2>{{items.glossary.leftTitle}}</h2>
								<ul>
									<li v-for = "(term,i) in items.glossary.terms" @click = "setTermNum(i)" :class = "{'selected' : termNum == i}">
										{{term.title}}
									</li>
								</ul>
							</div>

							<div class = "glossary-section glossary-right">
								<div class = "glossary-right-top">
									<transition enter-active-class = "animated fadeIn" leave-active-class = "animated fadeOut" mode = "out-in">
										<div v-show = "showExplination"> 
											<h2>{{items.glossary.rightTitle}}</h2>
											<p class = "right-text">{{items.glossary.rightText}}</p>
										</div>
									</transition>
								</div>

								<transition enter-active-class = "animated fadeIn" mode = "out-in">
									<div class = "glossary-right-body" v-for = "(entry,i) in items.glossary.terms" v-if = "(termNum == i) && okToShowDefinitions" :key = "i">
											<h2>{{items.glossary.terms[termNum].title}}</h2>
											<ul>
												<div v-for = "(definition,n) in items.glossary.terms[termNum].definitions">
													<p><span class = "bold">{{n+1}}. &nbsp; {{definition.term}}</span> : {{definition.definition}}</p>
												</div>
											</ul>
									</div>
								</transition>

							</div>

							<div class = "close-button" >
								<p @click = "buttonClicked">X</p>
							</div>

						</div>
					</transition>


				</div>
			</transition>


		</div>

	</div>
</template>

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
	data() {
		return {
			activateGlossary: false,
			showExplination: true,
			okToShowDefinitions: false
		};
	},

	computed: {
		items() {
			return this.$store.state.items
		},
		termNum() {
			return this.$store.state.glossarySection
		},
		slideAway() {
			// same as the menu
			return (this.$store.state.slideAway && (!this.$store.state.hovering) && (!this.$store.state.menu.menu) && (!this.$store.state.forceOpen));
		}
	},

	methods: {
		...mapActions(['sectionallyOverrideRight','sectionallyOverrideLeft','goToNextSection','disableNavPrev','enableNavPrev']),
		setTermNum(num) {
			
			//console.log(this.activateGlossary);

			let self = this;

			if (this.showExplination) {
				this.showExplination = false;
				setTimeout(function() {
					self.okToShowDefinitions = true;
					self.$store.commit('setGlossarySection', num);
				},1000);
			} else {
				self.$store.commit('setGlossarySection', num);
			}
		},
		buttonClicked() {
			//console.log('asj');
			this.activateGlossary = false;
			
			let self = this;
			//setTimeout(function() {
				console.log('why on earth am I having trouble');
				self.$emit('closeGlossary');
			//},1000);
			//this.$emit('closeGlossary');
			
		},
		showGlossary() {
			console.log('asdfjaskdffhaskldjdfhaklsjdfhkalsjddfhklasdjfhkasldjfhaskdlj');
			this.activateGlossary = true;
			this.$forceUpdate();
		},
		hideGlossary() {
			self.activateGlossary = false;
		}
	},
	mounted() {

		let self = this;

	},
	beforeDestroy() {
		//BOILERPLATE FOR RUNNING AN INTERVAL
		clearInterval(this.interval);
	},
	components: {},
	props: []
};
</script>

<style lang="scss" scoped>
.lock {
	text-align: center;
	font-size: 400px !important;
	opacity: 0.2;
	position: absolute;
	width: 100%;
	top: 100px;
}
.page {
	
	font-family: 'Nexa-Regular';
	background-size: cover;
	background-color: #c1c9b4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-image: url('../media/bg-02.jpg');

	.container.one-column {
		
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		
		.glossary-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 675px;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.35+0,0.6+50,0.8+100 */
		 	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
			background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
			background: radial-gradient(ellipse at center, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

			display: flex;
			align-items: center;
			justify-content: center;

			

			.glossary-inner {
				width: 867px;
			    height: 545px;
			    background-image: url('../media/glossarybook.png');
			    background-position: center center;
			    background-repeat: no-repeat;

			    position: relative;
			    top: 47px;
			    background-size: 867px 545px;
			    display: flex;
			    color: #333;

			    transition: top 0.3s;

			    &.slideAway {
			    	top: 3px;
			    }

			    h2 {
		        	color: #506e19;
		        	padding-left: 40px;
		        	font-size: 28px;
		        	margin-top: 15px; 
		        	margin-bottom: 15px;
		        	font-family: 'Nexa-Heavy';
		        }

		        .right-text { 
					padding-left: 40px
		        }

			    .glossary-section {
			    	height: 100%;
			    	box-sizing: border-box;

			    	&.glossary-left {
						width: 34%;
						ul {
							li {
								color: #e26f1e;
								list-style: none;
								margin-top: 10px;
								margin-bottom: 10px;
								font-size: 18px;
								font-family: 'Nexa-Heavy';
								cursor: pointer;
								//transition: 0.3s all;
								&:hover {
									color: #506e19;
								}
								&.selected {
									color: #506e19;
									&:hover {
										color: #506e19;
									}
								}
							}
						}
			    	}
			    	&.glossary-right {
						width: 66%;
						padding-right: 30px;
			    	}

			    	p {
			    		font-family: 'Nexa-Regular';
			    		font-size: 16px;
			    		line-height: 18px;
			    		margin-top: 10px;
			    		margin-bottom: 10px;
						.bold {
							font-family: 'Nexa-Bold';
						}
			    	}
			    }
			}
		}
		
	}
}
.delay-0 {
	animation-delay: 1s;
}

</style>
