<template>
	<nav>
		<button class="nav left" @click="prev" :class="{disabled: disablePrev}" v-if = "!hidden">
			<i class="fas fa-angle-left"></i>
		</button>
		<button class="nav right" @click="next" :class="{disabled: disableNext}" v-if = "!hidden">
			<i class="fas fa-angle-right" v-if = "!hidden"></i>
		</button>
	</nav>
</template>

<script>
	import { mapGetters, mapMutations, mapActions } from 'vuex';
	
	export default {
		data() {
			return {
			}
		},
		computed: {
			disablePrev() {
				return this.prevDisabled();
			},
			disableNext() {
				return this.nextDisabled();
			},
			hidden() {
				return this.navHidden();
			}
		},
		methods: {
			...mapGetters(['prevDisabled','nextDisabled','navHidden']),
			...mapActions(['rh_prev','rh_next']),
			
			prev() {
				if (!this.prevDisabled()) {
					this.$emit('changing_page')
				}
				this.rh_prev();
			},
			next() {
				if (!this.nextDisabled()) {
					this.$emit('changing_page')
				}
				this.rh_next();
			}
		},
		components: {},
		props: ['items']
	};

</script>

<style lang="scss" scoped>
nav {
	/*position: absolute;
	bottom: 5px;
	right: 10px;
	z-index: 99;*/
	#asdf {
		position: absolute;
		bottom: 5%;
		right: 45%;
		color: black;
		opacity: 1;
		display: initial;
		z-index: 100;
	}
	
}
.nav {
	position: absolute;
	background: #e36f1e;
	border-radius: 50%;
	height: 100px;
	font-size: 1.7rem;
	margin: 0;
	z-index: 9999;
	color: white;
	width: 50px;
	font-size: 42px;

	&.left {
		top: 42%;
		left: 0px;
		border-radius: 0px 20px 20px 0px;

		i {
			position: relative;
			right: 5px;
		}
	}
	&.right {
		top: 42%;
		right: 0px;
		border-radius: 20px 0px 0px 20px;
		i {
			position: relative;
			left: 5px;
		}
	}
}
.nav.disabled {
	//background: rgba(255,255,255, 0.5);
	opacity: 0.5;
	pointer-events: none;
	cursor: default;
}

</style>
