<template>

	<transition
		name="custom-classes-transition"
		enter-active-class="animated slideInDown point-three"
		leave-active-class="animated slideOutUp  point-three"
	>
		<div class="resources" @mouseover = "menuHovering" @mouseleave = "menuNotHovering" :class = "{'slideAway' : slideAway}">

			<div class="li"
				v-for = "(item,i) in menuItems"
				:class = "{
					'done' : $store.getters.sectionDone(item.link),
					'current' : (getCurrentMenuName() == item.name),
					'locked' : $store.getters.sectionLocked(item.link)
				}"
				:data-link = "item.link"
				@click = "goToSection(item.link)"
			>

				<div class = "completed-box">

					<i class="fa fa-check sidebar-check" aria-hidden="true" />
					<i class="fa fa-lock locked-icon" aria-hidden="true"></i>
					<!--  -->

				</div>

				<a>{{item.name}}</a>

			</div>
			<div class = "li glossary" @click = "showGlossary">
				<a>Glossary</a>
			</div>

		</div>

	</transition>

</template>

<script>

	import { mapGetters, mapMutations, mapActions } from 'vuex';

	export default {
		data() {
			return {
				menuTimeout: null
			}
		},
		methods: {
			...mapGetters(['getAllInteractions','getAllMenuNames','getCurrentMenuName']),
			...mapActions(['goToLink']),
			goToSection(link) {

				this.$emit('hideGlossary')

				let self = this;

				clearTimeout(this.menuTimeout);
				this.menuTimeout = setTimeout(function(){
					self.$store.commit('menu/closeMenu')
				}, 3000);

				this.goToLink(link);
			},
			showGlossary() {
				this.$store.commit('menu/closeMenu')
				this.$emit('showGlossary')
			},
			menuHovering() {
				this.$store.commit('menuHovering');
			},
			menuNotHovering() {
				this.$store.commit('menuNotHovering');
			}
		},
		watch: {
			'$route' : function() {
				this.$forceUpdate();
			}
		},
		mounted() {
			//console.log(this.getAllMenuNames());
			let self = this;
			//setTimeout(function() {
			//	console.log(self.getAllMenuNames());
			//},1000);
		},
		computed: {
			menu () {
				return this.$store.state.menu.menu
			},
			menuItems() {
				//return this.getAllMenuNames();
				return this.$store.getters.getAllMenuNames();
			},
			slideAway() {
				// forceOpen is what keeps it open if it's meant to slideaway but the user clicks on it
				return (this.$store.state.slideAway && (!this.$store.state.hovering) && (!this.$store.state.menu.menu) && (!this.$store.state.forceOpen));
			}
		},
		components: {},
		props: ['items']
	};

</script>

<style lang="scss" scoped>
	.resources {
		min-width: 250px;
		z-index: 999;
		position: absolute;
		top: 85px;
		right: 41px;
		background: #4f6e18;
		min-width: 250px;
		z-index: 999;
		padding-top: 23px;
		padding-bottom: 20px;
		border-radius: 20px;
		&.slideAway {
			top: -2px;
		}
	}
	.resources a {
		display: block;
		color: White;
		border-bottom: 2px solid rgba(119, 120, 123, 0.2);
		text-decoration: none;
		padding-bottom: 4px;
		font-size: 1.25rem;
		padding: 12px 15px 7px 15px;
		//text-transform: uppercase;
		transition: all .3s;
		cursor: pointer;
	}
	.resources a:last-child {
		border-bottom: 0px solid rgba(119, 120, 123, 0.6);
		margin-bottom: 0;
	}


	.li {
		display: flex;
		align-items: center;
		//justify-content: center;
		.completed-box {
			width: 17px;
			height: 17px;
			//border: 3px solid black;
			opacity: 0.8;
			margin-right: 10px;
			border-radius: 3px;
			display: none;
			color: white;
			.sidebar-check, .locked-icon {
				font-size:24px;
				font-weight: bold;
				color: white;
				position: relative;
				bottom: 5px;
				left: 1px;
				padding-left: 10px;
				display: none;
			}
		}
		a {
			padding-left:15px;
			opacity: 1;
			color: #ddd;
		}
		.locked-icon {
			opacity: 0.85;
			color: #ddd;
		}
		&.done, &.glossary {
			.completed-box {
				display: block;
				opacity: 1;
				color: #ddd;
				.sidebar-check {
					display: inline-block;
				}
				.locked-icon {
					display: none;
				}
			}
			a {
				padding-left:15px;
				opacity: 1;
				color: #fff;
			}
		}
		&.glossary {
			a {
				padding-left: 42px;
			}
		}
		&.locked {
			.completed-box {
				display: block;
				.sidebar-check {
					display: none;
				}
				.locked-icon {
					display: inline-block;
				}
			}
			a {
				padding-left:15px;
			}
			&:hover {
				background: #4f6e18;
				cursor: default
			}
		}
		a {
			padding-left:42px;
		}
		&:hover {
			background: #31470a;
			color: #fff;
			cursor: pointer;
		}
		&.current {
			background: #31470a;
			color: #fff;
			cursor: default;
			//opacity: 1;
			a {
				opacity: 1;
				color: #fff;
				cursor: default;
			}
			.locked-icon {
				opacity: 1;
				color: #fff;
			}
		}
	}
	.point-three {
		animation-duration: 0.3s;
	}
</style>
