<template>
	<header v-show = "!hideMe" @click = "doStuff" @mouseover = "menuHovering" @mouseleave = "menuNotHovering" :class = "{'slideAway' : slideAway}">
		<!--h3>{{items.header[0].title}}</h3-->
		<h3>{{currentInteraction}}</h3>
		<!--p style = "position:relative;top:20px;">{{currentInteraction}}</p-->
		<button class="menu" @click="hamburgerMenu($event)"><i class="fas fa-times" v-if="menu"></i><i class="fas fa-bars" v-else></i></button>
		<!--button class="exit" @click="quit">{{items.header[0].button}}</button-->
	</header>
</template>

<script>

	import { mapGetters, mapMutations, mapActions } from 'vuex';

	import bus from '../eventBus.js';

	export default {
		data() {
			return {
				hideMe: false
			}
		},
		computed: {
			menu () {
				return this.$store.state.menu.menu
			},
			currentInteraction() {
				let name = this.getCurrentMenuName();
				if (name != '') {
					return this.getCurrentMenuName();
				} else {
					return 'Ch 2: We’ve Landed in Operator Alley';
				}
			},
			slideAway() {
				// forceOpen is what keeps it open if it's meant to slideaway but the user clicks on it
				return (this.$store.state.slideAway && (!this.$store.state.hovering) && (!this.$store.state.menu.menu) && (!this.$store.state.forceOpen));
			}
		},
		methods: {
			...mapGetters(['getCurrentMenuName']),
			doStuff() {
				// if slideaway, let's force open if the user clicks
				if (this.$store.state.forceOpen) {
					this.$store.commit('forceOpen', false);
				} else {
					this.$store.commit('forceOpen', true);
				}
			},
			menuHovering() {
				this.$store.commit('menuHovering');
			},
			menuNotHovering() {
				this.$store.commit('menuNotHovering');
			},
			hamburgerMenu(e) {
				e.stopPropagation();
				this.$store.commit('menu/menuToggle');

				if ((!this.$store.state.menu.menu) && this.$store.state.slideAway) {
					// if we're slidingaway and closing the menu, might as well turn off forceOpen
					this.$store.commit('forceOpen', false);
				}
			}
		},
		mounted() {
			let self = this;
			bus.$on('hideHeader', function() {
				self.hideMe = true;
			});
			bus.$on('showHeader', function() {
				self.hideMe = false;
			});
		},
		components: {},
		props: ['items']
	};

</script>

<style lang="scss" scoped>
header {
	transition: 0.3s all;
	&.slideAway {
		top: -87px; 
	}
}
button {
	width: 24px;
}
.menu {
	font-size: 48px;
	i {
		position: absolute;
		right: 50px;
		bottom: 30px;
		font-size: 2.5rem;
		bottom: 35px;
		
	}
}
header h3 {
	position: absolute;
	width: 770px;
	left: 343px;
	bottom: 32px;
	text-align: center;
	font-size: 2.5rem;
	font-family: 'Nexa-Bold';
	text-transform: none;

}
</style>
