<template>
	<div class="page animated fadeIn">

		<div class="container">

			<div class = "text-container">

				<div class = "left">
					<h1>Font Usage</h1>
					<h1>Main Headings: <br/><br/> Nexa Heavy 36PT</h1>

					<div id = "left-bottom">
						<p class = "copy">Body Copy <br/> Nexa Regular - 20 px</p>
						<p class = "emphasis">Body Copy Emphasis  <br/> Nexa Bold - 20 px</p>
						<p class = "note">(Note: to fill out the text a bit more on some pages, I used 22px a lot also)</p>
					</div>
				</div>


				<div class = "right">
					<h1>Color Theory</h1>
					<div class = "color-holder">
						<div class = "color-div active">
							<p>#e26f1e</p>
						</div>
						<h1>Acitve Buttons</h1>
					</div>
					<div class = "color-holder">
						<div class = "color-div primary">
							<p>#506e19</p>
						</div>
						<h1>Primary Accent</h1>
					</div>
					<div class = "color-holder">
						<div class = "color-div secondary">
							<p>#014a63</p>
						</div>
						<h1>Secondary Accent</h1>
					</div>
				</div>


			</div>

		</div>

	</div>
</template>

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
	data() {
		return {
		};
	},

	computed: {
		items() {
			return this.$store.state.items
		}
	},

	methods: {
		...mapActions(['sectionallyOverrideRight','sectionallyOverrideLeft','goToNextSection','disableNavPrev','enableNavPrev'])
	},
	mounted() {

		

	},
	components: {},
	props: []
};
</script>

<style lang="scss" scoped>
.page {
	
	font-family: 'Nexa-Regular';
	background-size: cover;
	background-color: #c1c9b4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-image: url('../../../media/bg-03.jpg');

	.container {
		
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.text-container {
			color: #333;
			width: 80%;
			position: absolute;
			left: 10%;
			top: 136px;
			box-sizing: border-box;
			padding: 10px;
			padding-top: 5px;
			display: flex;

			.left {
				width: 50%;
			}
			.right {
				padding-left: 50px;
				.color-holder {
					display: flex;
					margin-top: 30px;
					margin-bottom: 30px;
					//justify-content: center;
					align-items: center;

					.color-div {
						min-width: 100px;
						height: 100px;
						display: block;
						margin-right: 30px;
						border: 5px solid white;
						box-shadow: 0px 2px 4px rgba(0,0,0,0.8);
						display: flex;
						align-items: center;
						justify-content: center;
						p {
							color: white;
						}
						&.active {
							background-color: #e26f1e;
						}
						&.primary {
							background-color: #4f6e18;
						}
						&.secondary {
							background-color: #004962;
						}
					}
				}
			}

			h1 {
				text-transform: uppercase;
				padding: 0;
				margin: 0;
				width: 100%;
				font-family: 'Nexa-Heavy';
				color: #004962;
				font-size: 36px;
				&.underline-me {
					border-bottom: 1px solid #333;
				}
			}

			p {
				font-family: 'Nexa-Regular';
				font-size: 20px;
				margin-top: 0px;
				&.emphasis {
					font-family: 'Nexa-Bold';
				}
				&.note {
					font-size: 22px;
				}
			}	


		}
	}
}
#left-bottom {
	margin-top: 80px;
}
</style>
