<template>
	<div class="page animated fadeIn" >

		<div class="container static-text-left">

			<div class = "text-container">

				<h1 class = "underline-me">
					{{items.introduction.screen2.title}}
				</h1>

				<div class = "content-text" >
					<p class = "animated fadeIn delay-0">
						{{items.introduction.screen2.text}}
					</p>
				</div>

			</div>

		</div>

	</div>
</template>

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
	data() {
		return {
		};
	},

	computed: {
		items() {
			return this.$store.state.items
		}
	},

	methods: {
	...mapActions(['sectionallyOverrideRight','sectionallyOverrideLeft','goToNextSection','disableNavPrev','enableNavPrev','disableNavNext','enableNavNext'])
	},
	mounted() {

	},
	components: {},
	props: []
};
</script>

<style lang="scss" scoped>

.page {
	background-image: url('../../../media/bg-03.jpg');
	font-family: 'Nexa-Book';
	background-size: cover;
	background-color: #c1c9b4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background 0.3s;

	.container.static-text-left {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.text-container {
			width: 450px;
			position: absolute;
			left: 110px;
			top: 195px;
			box-sizing: border-box;
			padding: 10px;
			padding-top: 5px;
			h1 {
				text-transform: uppercase;
				padding: 0;
				margin: 0;
				width: 100%;
				color: #333;
				font-family: 'Nexa-Heavy';
				font-size: 36pt;
				&.underline-me {
					border-bottom: 1px solid #333;
				}
			}
			.content-text {
				p {
					font-size: 22px;
					line-height: 28px;
					color: #333;
					font-family: 'Nexa-Regular';
				}
				
			}
		}
	}
}
.delay-0 {
	animation-delay: 0.33s;
}
</style>
