<template>
	<div class="page animated fadeIn">

		<div class="container static-text-right">

			<div class = "text-container">

				<div class = "content-text">

					<h1>{{items.introduction.screen4.title}}</h1>

					<div class = "animated fadeIn delay-0">
						<p>{{items.introduction.screen4.text}}</p>
					</div>

				</div>

			</div>

		</div>

	</div>
</template>

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
	data() {
		return {
		};
	},

	computed: {
		location() {
			return this.$store.state.scormLMS.location
		},
		items() {
			return this.$store.state.items
		}
	},

	methods: {
	...mapActions(['sectionallyOverrideRight','sectionallyOverrideLeft','goToNextSection','disableNavPrev','enableNavPrev']),
	},
	mounted() {


	},
	components: {},
	props: []
};
</script>

<style lang="scss" scoped>
.page {
	
	font-family: 'Nexa-Regular';
	background-size: cover;
	background-color: #c1c9b4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.container.static-text-right {
		background-image: url('../../../media/bg-03.jpg');
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.text-container {
			color: white;
			width: 480px;
			position: absolute;
			left: 600px;
			top: 140px;
			box-sizing: border-box;
			padding: 10px;
			padding-top: 5px;
			color: #333;
			h1 {
				text-transform: uppercase;
				padding: 0;
				margin: 0;
				width: 100%;
				&.underline-me {
					border-bottom: 1px solid #333;
				}
			}

			.content-text {
				p {
					font-size: 22px;
					line-height: 28px;
					font-family: 'Nexa-Regular';
					&.bottom-paragraph.screen-2 {
						font-style: italic;
					}
					&.select-next {
						font-style: italic;
					}
				} 
			}

			ul {
				li {
					font-size: 22px;
					line-height: 28px;
					margin-bottom: 20px;
				}
			}

		}
	}
}
</style>