<template>
	<div class="page animated fadeIn">
		<div class="container">
			<h1 class = "animated fadeIn">{{data.audioPrompt.text}}</h1>
			<div class = "enter-button"  @click = "goToNextSection()">
				<p>{{data.audioPrompt.readyButton}}</p>
			</div>

			<img src = "media/guy.png" class = "animated fadeIn" />
		</div>
	</div>
</template>

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
	data() {
		return {
		};
	},

	computed: {
		location() {
			return this.$store.state.scormLMS.location
		},
		items() {
			return this.$store.state.items
		},
		data() {
			return this.$store.state.items
		}
	},

	methods: {
			...mapActions(['goToNextSection']),
		checkCue() {
			//BOILERPLATE FOR RUNNING AN INTERVAL
			// var self = this
			// if(Math.floor(self.$refs.audio1.currentTime) == 3){
			//   self.vis1 = "visible"
			// }
		},
		runInterval() {
			//BOILERPLATE FOR RUNNING AN INTERVAL
			this.interval = setInterval(this.checkCue, 100);
		}
	},
	mounted() {
	

	},
	beforeDestroy() {
	//BOILERPLATE FOR RUNNING AN INTERVAL
	clearInterval(this.interval);
	},
	components: {},
	props: []
};
</script>

<style lang="scss" scoped>
.page {
	background-image: url('../../../media/bkgrnd.jpg');
	font-family: 'Nexa-Book';
	background-size: cover;
	background-color: #c1c9b4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	h1 {
		font-family: 'Nexa-Bold';
		position: absolute;
		width: 370px;
		right: 200px;
		top: 150px;
		font-size: 22px;
	}
	img {
		position: absolute;
		bottom: 0px;
		left: 150px;
		width: 310px;
	}
	.enter-button {
		position: absolute;
		width: 130px;
		right: 340px;
		top: 300px;
		font-family: 'Nexa-Bold';
		font-size: 22px;
		color: white;
		background: #e46f1f;
		display: flex;
		border-radius: 15px;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}
</style>
