<template>
  <section id="final">
    
    <component v-bind:is="currentPage"></component>

  </section>
</template>

<script>
import bus from '../../eventBus.js';
import Page1 from './pages/Page1.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex';

  export default {
    name: 'Conclusion',
    data() {
      return {

      }
    },
    computed: {
      location () {
        return this.$store.state.scormLMS.location
      },
      currentPage() {
        return this.getCurrentComponent();
      }
    },
    methods: {
      ...mapGetters(['getCurrentComponent','getSiteNav']),
      ...mapMutations(['setScormVersion']),
      ...mapActions(['setPages']),
      getPages() {
        var pages = [
          {component: 'Page1', bookMark: false}
        ];
        return pages;
      }
    },
    mounted() {
      var name = this.$options.name;

      this.setPages({name: this.$options.name, pages: this.getPages()});

      bus.$emit('showHeader');
    },
    components: {
      Page1
    },
    props: []
  };
</script>

<style lang="scss" scoped>

</style>
