<template>
	<div class="page animated fadeIn" >

		<div class="container static-text-left" v-if = "!locked">

			<div class = "text-container">

				<h1 class = "underline-me">
					{{items.conclusion.title}}
				</h1>

				<div class = "content-text animated fadeIn delay-0" v-html = "items.conclusion.text">
					
				</div>

			</div>

		</div>

		<div class="container one-column" v-else >

			<div class = "text-container locked">
				<h1 class = "underline-me"> 
					tHIS PAGE IS LOCKED
				</h1>

				<div class = "content-text animated fadeIn">
					<p>Please complete all the other sections in order to unlock this section</p>
				</div>

				<h1 class = "lock"><i class="fa fa-lock locked-icon" aria-hidden="true"></i></h1>
			</div>

		</div>

	</div>
</template>

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
	data() {
		return {
		};
	},

	computed: {
		items() {
			return this.$store.state.items
		},
	    locked() {
	        return this.$store.getters.sectionLocked('/conclusion'); // okay I know this is hacky
	    }
	},

	methods: {
	...mapActions(['sectionallyOverrideRight','sectionallyOverrideLeft','goToNextSection','disableNavPrev','enableNavPrev','disableNavNext','enableNavNext'])
	},
	mounted() {

	},
	components: {},
	props: []
};
</script>

<style lang="scss" scoped>

.page {
	background-image: url('../../../media/bg-03.jpg');
	font-family: 'Nexa-Book';
	background-size: cover;
	background-color: #c1c9b4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background 0.3s;

	.container.static-text-left {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.text-container {
			width: 450px;
			position: absolute;
			left: 110px;
			top: 195px;
			box-sizing: border-box;
			padding: 10px;
			padding-top: 5px;
			h1 {
				text-transform: uppercase;
				padding: 0;
				margin: 0;
				width: 100%;
				color: #333;
				font-family: 'Nexa-Heavy';
				font-size: 36pt;
				&.underline-me {
					border-bottom: 1px solid #333;
				}
			}
			.content-text {
				p {
					font-size: 22px;
					line-height: 28px;
					color: #333;
					font-family: 'Nexa-Regular';
				}
				
			}
		}
	}

	.container.one-column {
    background-image: url('../../../media/bg-03.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .text-container {
      color: #333;
      width: 80%;
      position: absolute;
      left: 10%;
      top: 136px;
      box-sizing: border-box;
      padding: 10px;
      padding-top: 5px;
      h1 {
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        width: 100%;
        font-family: 'Nexa-Bold';
        color: #333;
        font-size: 48px;
        &.underline-me {
          border-bottom: 1px solid #333;
        }
      }

      &.locked {
        h1 {
          text-align: center;
        }
        .content-text {
          p {
            text-align: center;
          } 
        }
      }

      .lock {
        text-align: center;
        font-size: 350px !important;
        opacity: 0.2;
        position: absolute;
        width: 100%;
        top: 100px;
      }

      .content-text {
        padding-top: 30px;
        column-count: 1;
        p {
          font-size: 22px;
          line-height: 27px;
          margin-top: 0px;
        } 
      }

    }
  }
}
.delay-0 {
	animation-delay: 0.33s;
}
</style>
