<template>
	<div id="app" v-if="items && config" :class = "getUserLocationString()">
		<!-- JIRA - REMOVE FOR GOLD -->
		<Jira v-if="config.jira"></Jira>
		<!--Jira-position v-if="config.jira"></Jira-position-->

		<!-- LOADING ICON -->
		<transition name="fade">
			<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" v-show="loader"></i>
		</transition>

		<!-- MAIN -->
		<Top :items="items"></Top>
		<Resources :items="items" v-show="menu" @showGlossary = "showGlossary" @hideGlossary = "closeGlossary" ></Resources>

		<transition enter-active-class = "animated fadeIn" leave-active-class = "animated fadeOut">
			<div v-show = "glossaryShowing">
				<Glossary key = "1" @closeGlossary = "closeGlossary" ref = "glossary" />
			</div>
		</transition>

		<transition enter-active-class = "animated fadeIn" leave-active-class = "animated fadeOut">
			<div class = "main-area" v-show = "!glossaryShowing" key = "2" >
				<Navigation @changing_page = "closeMenu"></Navigation>
				<router-view :key="$route"></router-view>
			</div>
		</transition>

	</div>
</template>

<script>
/////////////////////IMPORTS/////////////////////////
/////////////////////////////////////////////////////
import { mapGetters, mapMutations, mapActions } from 'vuex';

import Jira from './components/Jira.vue'
import JiraPosition from './components/JiraPosition.vue'
import Top from './components/Top.vue'
import Bottom from './components/Bottom.vue'
import Navigation from './components/Navigation.vue'
import Resources from './components/Resources.vue'

import Glossary from './components/glossary.vue'

import First from './containers/first/first.vue'
import Introduction from './containers/Introduction/Introduction.vue'
import OperatorAlleyOne from './containers/OperatorAlleyOne/OperatorAlley1.vue'
import OperatorAlleyTwo from './containers/OperatorAlleyTwo/OperatorAlley2.vue'
import Commercial from './containers/Commercial/Commercial.vue'
import Assessment from './containers/Assessment/Assessment.vue'
import Assessment2 from './containers/Assessment2/Assessment2.vue'
import knowledgeCheck from './containers/knowledgeCheck/knowledgeCheck.vue'
import Conclusion from './containers/Conclusion/conclusion.vue'

import {polyfill} from "mobile-drag-drop";
import {scrollBehaviourDragImageTranslateOverride} from "mobile-drag-drop/scroll-behaviour";
/////////////////////VARIABLES & MISC/////////////////////
/////////////////////////////////////////////////////////
polyfill({
		// use this to make use of the scroll behaviour
		dragImageTranslateOverride: scrollBehaviourDragImageTranslateOverride
});

import store from './store' // can't import BEFORE the router, since using router in store sdfg

export default {
	name: 'app',
	//router,
	store,
	data () {
		return {
			loader: true,
			glossaryShowing: false
		}
	},
	computed: {
		location () {
			return this.$store.state.scormLMS.location
		},
		menu () {
			return this.$store.state.menu.menu
		},
		items() {
			return this.$store.state.items
		},
		config() {
			return this.$store.state.config
		},
		menuHovering() {
			return this.$store.state.hovering;
		},
		menuSlideAway() {
			return this.$store.state.slideAway;
		}
	},
	watch: {
		'$route' : function() {
			this.$forceUpdate();
		}
	},
	methods: {
		...mapGetters(['getSiteNav','getAllMenuNames','getCurrentMenuItem','lmsConnected','getBookmark','getCurrentMenuItem','getSavedString','allSectionsComplete','getUserLocationString','getCurrentPage','getCurrentInteraction', 'getNextInteraction']),
		...mapMutations(['setCurrentSectionToDone']),
		...mapActions(['makeRoutes','afterInteractionComplete','unlockInteraction','lmsConnect','bookmark','beforeEachInteraction','goToLink','saveString','retrieveSavedMenu','beforeEachPage']),
		menuToggle () {
			this.$store.commit('menu/menuToggle')
		},
		closeMenu() {
			this.$store.commit('menu/closeMenu')
		},
		showGlossary() {
			this.glossaryShowing = true;
			this.$refs.glossary.showGlossary();
		},
		closeGlossary() {
			this.glossaryShowing = false;
			this.$refs.glossary.hideGlossary();
		}
	},
	mounted() {
		this.loader = false;


		let self = this;

		// first set up the frontend
		// then set up the lms stuff

		// alright, let's make the routes
		// this sets up the nav too
		var interactions = [

			{component: First, bookMark: true, menuName: '', chunk: true },
			{component: Introduction, bookMark: true, menuName: 'Introduction', chunk: false, trackCompletion: true },
			{component: OperatorAlleyOne, bookMark: true, menuName: 'Operator Alley 1', locked: true, chunk: true, trackCompletion: true },
			{component: OperatorAlleyTwo, bookMark: true, menuName: 'Operator Alley 2', chunk: true, trackCompletion: true },
			{component: Assessment, bookMark: true, menuName: 'Assessment', chunk: true, trackCompletion: true },
			{component: Commercial, bookMark: true, menuName: 'Commercial', chunk: false, trackCompletion: true },
			{component: Assessment2, bookMark: true, menuName: 'Assessment2', chunk: true, trackCompletion: true },
			{component: knowledgeCheck, bookMark: true, menuName: 'Knowledge Check', locked: false, chunk: true, trackCompletion: true},
			{component: Conclusion, bookMark: true, menuName: 'Conclusion', locked: false, chunk: true}

		];

		this.makeRoutes(interactions); // helper function to initilally set up routes and navigation

		// this function will run after each interaction, but before the next interaction is loaded
		this.afterInteractionComplete(function() {
			// get current interaction
			// it would really do well to make this object oriented
			// .. maybe in an update ..

			// set section to done
			self.setCurrentSectionToDone();

			// get all menu items
			var menuItems = self.getAllMenuNames(); // this is cached so heavily I don't even know how to re-run it

			// allSectionsComplete returns if all sections with trackCompletion are complete
			// passed to it is an array of menu links to exclude

			// check if all are done except /knowledgeChedk and /final
			//if (self.$store.getters.allSectionsComplete(['/knowledgeCheck','/final'])) {
				// if so, unlock knowledgecheck
			//	self.unlockInteraction('/knowledgeCheck');
			//}

			// if everything is done except final, unlock final
			//if (self.$store.getters.allSectionsComplete(['/final'])) {
				// if so, unlock final
			//	self.unlockInteraction('/final');
			//}

			// OKAAAYYY.. NOW EVERYTHING IS (supposed to be) LOCKED
			// after each interaction, get the next one
			// and UNLOCK IT
			var currentInteraction = '/' + self.getCurrentInteraction();
			if (currentInteraction != '/final') {
				// unlock the NEXT INTERACTION
				var nextInteraction = '/' + self.getNextInteraction();
				self.unlockInteraction(nextInteraction);
			}

			// store the completed info on the lms
			// .. UMM YEAH maybe this should be the LAST thing that happens!! Otherwise not everything might be saved
			// cmi.suspend_data
			// first just console log completed sections
			// then store in cmi.suspend_data
			// then retrieve
			// then record the completed sections

			// get all completed sections
			// getAllMenuItems is the NON CACHED version of getAllMenuNames()
			// have to use it becuase of the array structure
			// has to be called all weird.. like this ..
			var sectionInfo = self.$store.getters.getAllMenuItems();
			var stringToSave = JSON.stringify(sectionInfo);

			if (self.lmsConnected()) {
				// store in cmi.suspend_data
				self.saveString(stringToSave);
			}


		});

		// alright now for the lms stuff
		this.lmsConnect();

		// ...

		if (this.lmsConnected()) {
			// get information about whats been done and not done and what's locked and unlocked
			let str = this.getSavedString();

			if (!str) {
				console.log('no saved data');
			} else {
				var data = JSON.parse(str);
				// console.log(data);
				// let's figure out what to lock and unlock and mark done and undone
				this.retrieveSavedMenu(data); // takes saved "menuItems" data
			}

			var bookmark = this.getBookmark();
			if (!bookmark) {
				//console.log('No Bookmark');
			} else {
				if ((bookmark != "/introText") && (bookmark != "/final")) {
					this.goToLink(bookmark);
				} else if ((bookmark == "/introText") || (bookmark == '/final')) {
					// if on introtext, go to "first" to display the sound message
					// if they left on final.. just start over
					// either way just go to fisrt
					this.goToLink('/first');
				}
			}

		}

		this.beforeEachInteraction(function() {
			var currentMenuItem = self.getCurrentMenuItem();

			if (self.lmsConnected()) {
				// here's an idea.. don't bookmark locked stuff
				if (!self.$store.getters.sectionLocked(currentMenuItem.link)) {
					self.bookmark(currentMenuItem.link);
				}
			}
		});

		this.beforeEachPage(function() {

			var page = self.getCurrentPage();
			//console.log(page);
			if (page.slideAway) {
				self.$store.commit('setSlideAway');
			} else {
				self.$store.commit('noSlideAway')
			}

			 // also, reset the navigation "forceOpen"
			 self.$store.commit('forceOpen', false);
		});

	},
	components: {

		Jira, JiraPosition, Top, Bottom, Navigation, Resources,

		Glossary,

		First, Introduction, OperatorAlleyOne, OperatorAlleyTwo, Assessment, Commercial, Assessment2, Conclusion
	}
};
</script>

<!-- REMOVE 'SCOPED' FOR GLOBAL STYLES -->
<style lang="scss">
#menu-hovering {
	position: absolute;
	bottom: 10px;
	left: 600px;
}
#menu-open {
	position: absolute;
	bottom: 50px;
	left: 600px;
}
#menu-slideaway {
	position: absolute;
	bottom: 90px;
	left: 600px;
}
</style>
