/* ============================================================
VARIABLES
============================================================ */

$gray            : rgba(119, 120, 123, 1);
$gray-light      : rgba(230, 231, 232, 1);
$gray-dark       : rgba(88, 89, 91, 1);
$black           : #000000;
$white           : #ffffff;

$max-width	     : 1200px;
$section-height  : 675px;
$header-height   : 102px;
$footer-height   : 0px;


//FONT VARIABLES
$nexa-book          : 'Nexa-Book', sans-serif;
$nexa-regular       : 'Nexa-Regular', 'Nexa-Book', sans-serif;
$nexa-heavy         : 'Nexa-Heavy', 'Nexa-Book', sans-serif;
$nexa-bold          : 'Nexa-Bold', 'Nexa-Book', sans-serif;

//COURSE COLORS
$background         : #ffffff;
$course-green       : #4e6f18;
$course-orange      : #e46F1f;
$course-blue        : #004962;
$course-text-dark   : #202020;
